<div class="product-details">
  <div class="product-info">
    <img
      [src]="product.thumbnail"
      alt="Product Thumbnail"
      class="product-thumbnail"
    />
    <div class="info">
      <h2>{{ product.title }}</h2>
      <p class="description">Description: {{ product.description }}</p>
      <p class="price">Price: ${{ product.price }}</p>
      <p class="brand">Brand: {{ product.brand }}</p>
      <p class="category">Category: {{ product.category }}</p>
      <!-- You can add more details here -->
    </div>
  </div>
  <div class="product-images">
    <h3>Images:</h3>
    <div class="image-gallery">
      <div class="image" *ngFor="let image of product.images">
        <img
          [src]="image"
          alt="Product Image"
          class="thumbnail"
          (mouseover)="changePreview(image)"
          (mouseout)="selectedImage = product.images[0]"
        />
      </div>
    </div>
    <div class="preview-image">
      <img [src]="selectedImage" alt="Selected Product Image" />
    </div>
  </div>
</div>
